 <%= form_for @item do |f|  %>
  <%= f.hidden_field :table_id, value: @item.table_id %>
  <%= f.hidden_field :product_id, value: @item.product_id %>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field  :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div>
<%= button_to "Delete", select_item_path(@item), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>

