<h3> Hello <%= @user.first_name %> <%= @user.last_name  %></h3>
   <p> Profile info </p>
   <td>
   <li> User <%= @user.first_name %> <%= @user.last_name  %>  </li>
     <li> Username: <%= @user.username %>  </li>
     <li> email: <%= @user.email %>  </li>
     <li> Phone: <%= @user.contact_number %></li>
   </td>