  <h3> Hello <%= @user.first_name %> <%= @user.last_name %></h3>
     <p> Profile info </p>
     <td>
     <h5> User: <%= @user.first_name %> <%= @user.last_name %>  </h5>
       <h5> Username: <%= @user.username %>  </h5>
       <h5> email: <%= @user.email %>  </h5>
       <h5> Phone: <%= @user.contact_number %></h5>
     </td>