      <% if logged_in? && current_user.admin? %>
       <ul>
         <button class="waves-effect waves-light btn-small black"><%= link_to "User Profile", user_path(@user) %></button>
         <button class="waves-effect waves-light btn-small black"><%= link_to "Create Product", new_user_product_path(@user) %></button>
         <button class="waves-effect waves-light btn-small black"><%= link_to "Products", user_products_path(@user) %></button>
         <button class="waves-effect waves-light btn-small black"><%= link_to "Create Tables", new_table_path %></button>
         <button class="waves-effect waves-light btn-small black"><%= link_to "Tables", tables_path %></button>
       </ul>
         <h1 class ="center">Bosphorus Lounge</h1>
      
              <div class="center">
           <% @table.each do |table| %>
           <button class="waves-effect waves-light btn-large #1b5e20 green darken-4">  <%= link_to "Table#{table.tabel_num}", table_path(table) %></button>
          <% end %>
             </div>
       
        
          <% elsif logged_in? && !current_user.admin? %>
           <ul>
              <button class="waves-effect waves-light btn-small black"><%= link_to "User Profile", user_path(@user) %></button>
          </ul>
                   <h1 class ="center">Bosphorus Lounge</h1>
          <div class="center">
           <% @table.each do |table| %>
           <button class="waves-effect waves-light btn-large #1b5e20 green darken-4">  <%= link_to "Table#{table.tabel_num}", table_path(table) %></button>
          <% end %>
             </div>
     <% end %>
 

    
       
 
       



   

  



