<%= form_for @table do |f| %>

  <div class="field">
    <%= f.label :tabel_num %>
    <%= f.number_field :tabel_num %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="right">
<%= button_to "Delete Table", table_path(@table), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>