<h4> Table Number: <%= @table.tabel_num %></h4>
  <div>
      <% @product.each do |product| %>
    
      
       <button><%= product.title %>
       <%= form_tag "/select_items" do %>
       <%= hidden_field_tag :product_id, product.id %>
        <%= hidden_field_tag :table_id, @table.id  %>
        <%= number_field_tag :quantity, 1 %>
     <%= submit_tag "Add to List" %></button> 
      <% end %>
    <% end %>
  </div>
<br>
<div>
<button class="waves-effect waves-light btn purple"><%= link_to "back", tables_path %> </button>
</div>

