<!DOCTYPE html>
<html>
  <head>
    <title>OneTouch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
  <div class="container white">
  <nav>
  
  
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo"> OneTouch</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if  logged_in? %>
        <li><%= link_to "Log out", logout_path %></li>
        
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "create account", new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
        
      
    <%= yield %>
           <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
   <script>
      $(document).ready(function() {
        $('.dropdown-trigger').dropdown();
      })
    </script>
    <script>
     $(document).ready(function(){
    $('select').formSelect();
  });
    </script>
    <script>
      $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    </script>
    <script>
      $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
    </script>
    <script>
      $(document).ready(function(){
    $('.modal').modal();
  }); </script>

    <script>
      $(document).ready(function(){
    $('.tabs').tabs();
  });
    </script>
<script>
  $(document).ready(function(){
    $('.tap-target').tapTarget();
  });
</script>

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>
  </body>
</html>
